// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchpage-container {
  text-align: center;

  .searchpage-searchbar {
    border: 2px solid;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 3px 10px;
    width: 600px;
    height: 30px;
  }

  .searchresults-container {
    display: flex;
    justify-content: center;

    .year-facets-container {
      width: 20%;
    }

    .result-containter {
      display: flex;
      margin: 20px auto;
      width: 80%;
    }

    .result-text-container {
      margin: 20px;
      text-align: left;

      .result-title {
        font-size: 30px;

        span {
          color: pink;
        }
      }
    }
  }
}
